version: '3.8'

services:
  app:
    container_name: dgg-piece-app
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    environment:
      - NODE_ENV=development
      - PAYLOAD_SECRET=d8a928b2-random-secret-key-change-me
      - DATABASE_URL=postgresql://payload:securepassword@10.20.30.50:5433/dgg-piece
      - NEXT_PUBLIC_SERVER_URL=https://dggpiece.pl
      - PAYLOAD_PUBLIC_SERVER_URL=https://dggpiece.pl
      - PORT=3005
    network_mode: host
    volumes:
      - media_data:/app/media
    depends_on:
      - postgres

  postgres:
    container_name: dgg-piece-postgres
    image: postgres:15-alpine
    restart: always
    network_mode: host
    environment:
      - POSTGRES_USER=payload
      - POSTGRES_PASSWORD=securepassword
      - POSTGRES_DB=dgg-piece
      - PGPORT=5433
    volumes:
      - postgres_data_clean:/var/lib/postgresql/data

  tunnel:
    container_name: dgg-piece-tunnel
    image: cloudflare/cloudflared:latest
    restart: always
    network_mode: host
    command: tunnel run
    environment:
      - TUNNEL_TOKEN=eyJhIjoiMDVmY2E1OWRiYmExOGRmNWJiY2UxNmU0MTI2ZDMzYjAiLCJ0IjoiNzYyYTUzZDItNjFiZi00ODBjLThkODktYzlkM2ZlOTA0OWY1IiwicyI6IlptUmhaalprWldNdE1tUmlaaTAwTnpjM0xXRTVNMkl0WTJGaFkyVXpORFUzWlRjeCJ9
    depends_on:
      - app

volumes:
  postgres_data_clean:
  media_data:
